* {
    margin: 0px;
    padding: 0px;
}

/*顶部布局1开始*/
.top1 {
    width: 100%;
    height: 35px;
    /* 渐变色背景 */
    background: linear-gradient(to right, #00a2e6, #f9a74a);
}

.top1_a {
    width: 1050px;
    height: 35px;
    float: right;
}

.top1_img {
    margin-top: 10px;
    margin-left: 10px;
}

.top1_a li {
    margin-left: 15px;
    margin-top: 5px;
    float: left;
    font-size: larger;
    list-style: none;
    /* 小手 */
    cursor: pointer;
}

.top1_a a {
    text-decoration: none;
    color: #ffffff;
}

.top1_a a:hover {
    color: gainsboro;
}

/*顶部布局1结束*/

/*顶部布局2开始*/
.top2 {
    width: 100%;
    height: 100px;
}

.top2>ul {
    display: flex;
    float: left;
    margin-left: 525px;
    margin-top: 30px;
    font-size: larger;
    list-style: none;
}

.top2 a {
    text-decoration: none;
    color: black;
}

.top2>ul>li {
    list-style: none;
    margin-left: 30px;
}

.top2 ul li {
    margin-top: 15px;
}

.top2 ul li ul {
    position: absolute;
    width: 130px;
    margin-left: -10px;
    padding: 10px;
    /* 透明 */
    background-color: black;
    opacity: 0.8;
    display: none;
    /* 将下拉菜单设置在所有元素之上 */
    z-index: 9999;
}

/* 去点 */
.top2 ul li ul li {
    list-style: none;
}

.top2 ul li ul a {
    color: white;
}

/* 悬停时块状变色 */
.top2 ul a:hover {
    display: block;
    color: white;
    background-color: aqua;
}

.top2 ul li ul a:hover {
    display: block;
    background-color: cyan;
}

/* 悬停时出现下拉菜单 */
.top2>ul>li:hover ul {
    display: block;
}

/* 将文字置于图片中 */
div {
    position: relative;
}

.top2_p p {
    position: absolute;
    left: 1250px;
    top: 240px;
    color: azure;
    font-size: x-large;
    border-top: solid #f9a74a 5px;
}

/*顶部布局2结束*/
/* 主体1开始 */
.main1 {
    width: 100%;
    height: 52px;
    border-bottom: solid gainsboro 1px;
}

.main1_one {
    float: left;
    left: 150px;
    margin-top: 15px;
    color: gray;
}

.main1_one a {
    color: gray;
    text-decoration: none;
}

.main1_one a:hover {
    color: #003b90;
}

/* 主体1结束 */
/* 垂直导航开始 */
.subleft {
    float: left;
    width: 300px;
    height: 320px;
}

.subleft_img {
    margin-left: 150px;
    float: left;
}

.subleft_title {
    margin-left: 170px;
    margin-top: 10px;
    font-size: 20px;
    color: #003b90;
    border-bottom: solid #003b90 5px;
}

.subleft ul li {
    list-style: none;
    margin-left: 170px;
    margin-top: 20px;
    border-bottom: solid gainsboro 1px;
}

.subleft a {
    text-decoration: none;
    color: black;
}

.subleft ul li a:hover {
    color: #003b90;
}

/* 垂直导航结束 */
/* 主体2开始 */
.main2 {
    float: left;
    margin-left: 100px;
    width: 900px;
    height: auto;
}

.main2 h3 {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    border-left: solid black 5px;
    text-indent: 12.4px;
}

.main2 p {
    margin-left: 5px;
    margin-top: 8px;
    font-size: 18px;
    text-indent: 32.4px;
    line-height: 190%;
}

/* 主体2结束 */


.last {
    margin-top: 50px;
    position: relative;
    height: auto;
    width: 100%;
    background-color: #1e1e1e;
    float: left;
}

.last_img {
    float: left;
    margin-top: 35px;
    margin-left: -450px;
    width: 25%;
    left: 32.5%;
    height: 150px;
}

.code li {
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    list-style: none;
    font-size: 12px;
}

.last_1 {
    width: 300px;
    height: 100px;
    float: left;
    color: white;
    font-size: 14px;
    margin-top: 55px;
    margin-left: 200px;
    line-height: 24px
}

.last_2 {
    float: right;
    margin-right: 150px;
    margin-top: 35px;
    width: 400px;
    height: 150px;
    line-height: 24px;
}

.last_2 a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.last_2 li {
    list-style: none;
    overflow: hidden;
}

div a:hover {
    color: gainsboro;
}

.last_3 {
    float: left;
    width: 100%;
    height: 50px;
    background-color: #1e1e1e;
}

.five {
    position: fixed;
    right: 20px;
    bottom: 20px;
}